# .coveragerc to control coverage.py

[report]

# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain if assertions aren't reached
    raise AssertionError

    # Don't complain if tests don't run unreachable code
    raise UnreachableError

    # pyplot show() needs a display, so no tests run it
    plt.show()
