attrdict3
bandit
codespell
colored<2
coverage
deap
flake8
Gooey>=1.0.4
isort
matplotlib
numpy
pandas
pdoc3
pint>=0.24
pydocstyle
pyflakes
pylama
pylint
pytest
pytest-cov
pytest-mpl
requests
ruff
setuptools
twine
vulture
wheel
