attrdict3
codespell
coverage
flake8
pylint
pylama
isort
vulture
bandit
pydocstyle
pdoc3
numpy
pandas
matplotlib
pint
Gooey>=1.0.4
deap
twine
pyflakes
pytest
pytest-cov
pytest-mpl
twine
wheel
requests
